Package: cw1-6005-ac23g08
Version: 1.0
Section: php
Priority: optional
Architecture: all
Depends: php5-cli
Maintainer: Adam Costello <ac23g08@ecs.soton.ac.uk>
Description: Package to complete coursework for INFO6005
